* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #000;
}
#banner {
    background: linear-gradient(rgba(0, 0, 0, 0.5), #000000), url("background.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.logo {
    width: 70px;
    position: absolute;
    top: 4%;
    left: 5%;
}

.banner-text {
    text-align: center;
    color: white;
    padding-top: 150px;
}

.banner-text h1 {
    font-size: 130px;
    font-family: 'Kaushan Script', cursive;
}

.banner-text p {
    font-size: 20px;
    font-style: italic;
    
}

.banner-btn {
    margin: 70px auto 0;
}

.banner-btn a {
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: white;
    border: .5px solid white;
    position: relative;
    z-index: 1;
}

.banner-btn a span {
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    z-index: -1;
    transition: 0.5s;
}

.banner-btn a:hover {
    color: rgb(218, 45, 74);
    background-color: black;
    border-color: rgb(218, 45, 74);
}

#sidenav {
    width: 350px;
    height: 100hv;
    position: fixed;
    right: -350px;
    top: 15px;
    background: rgb(27, 27, 27);
    z-index: 3;
    transition:  0.5s;
    border-radius: 7px;
}

nav ul li {
    list-style: none;
    margin: 20px 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
}
nav ul li a:hover{
    text-decoration: underline;
    color: rgb(218, 45, 74);
    transition: 0.5s;
}

#menubtn {
    width: 50px;
    height: 50px;
    background: black;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 20px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
}

#menubtn img {
    width: 20px;
    margin-top: 15px;
}

@media screen and (max-width:770px) {
    .banner-text h1 {
        font-size: 44px;
    }
    .banner-btn a {
        display: block;
        margin: 20px auto;
    }
}

#feature {
    width: 100%;
    padding: 70px 0;
    border-radius: 3px;
    border-color: rgb(218, 45, 74);
}

.title-text {
    text-align: center;
    padding-bottom: 70px;
}
.title-text h1{
    color: pink;
}
.title-text p {
    margin: auto;
    font-size: 20px;
    color: rgb(223, 30, 62);
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}

.title-text p::after {
    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(#009688, #fff);
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}

.title-text h1 {
    font-size: 50px;
    color: white;
    font-family: cursive;
    padding-top: 20px;
}

.feature-box {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.features {
    flex-basis: 50%;
}

.features-img {
    flex-basis: 50%;
    margin: auto;
}


.features-img img {
    height: 400px;
    width: 55%;
    border-radius: 10%;
    margin-left: 50px;
}
.features h1 {
    text-align: left;
    margin-bottom: 10px;
    font-weight: 100;
    color: #009688;
}

.features-desc {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.feature-icon .fas {
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    border-radius: 8px;
    color: white;
    border: 1px solid white;
}

.feature-text p {
    padding: 0 20px;
    text-align: initial;
}

@media screen and (max-width:770px) {
    .title-text h1 {
        font-size: 35px;
    }
    .features {
        flex-basis: 100%;
    }
    .features-img {
        flex-basis: 100%;
    }
    .features-img img {
        width: 100%;
    }
}

#service {
    width: 100%;
    padding-top: 70px;
    background: black;
    
}

.service-box {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}

.single-service {
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 30px;
    color: #fff;
    position: relative;
}

.single-service img {
    width: 100%;
    border-radius: 7px;
}

.ovrelay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(0, 0, 0, 0.5), #009688);
    opacity: 0;
    transition: 1s;
}

.single-service:hover .ovrelay {
    opacity: 1;
}

.services-desc {
    width: 80%;
    position: absolute;
    bottom: 0;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    transition: 1s;
}

hr {
    background: #fff;
    height: 2px;
    border: 0;
    margin: 15px auto;
    width: 60%;
}

.services-desc p {
    font-size: 14px;
}

.single-service:hover .services-desc {
    bottom: 40%;
    opacity: 1;
}

@media screen and (max-width:770px) {
    .single-service {
        flex-basis: 100%;
        margin-bottom: 30px;
    }
    .services-desc p {
        font-size: 12px;
    }
    hr {
        margin: 5px auto;
    }
    .single-service:hover .services-desc {
        bottom: 25% !important;
    }
}


/* testimonial part */

#testimonial {
    width: 100%;
    
    padding-bottom: 70px;
}

.testimonial-row {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.testimonial-col {
    flex-basis: 28%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    
    cursor: pointer;
    transition: transform 0.5s;
}

.testimonial-col p {
    font-size: 14px;
    color: white;
}

.user {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.user img {
    width: 40px;
    margin-right: 20px;
    border-radius: 3px;
}

.user-info .fab {
    margin-left: 10px;
    color: #009688;
    font-size: 20px;
}

.user-info small {
    color: #009688;
}

.testimonial-col:hover {
    box-shadow: 0 15px 20px 5px #01a39314;
}



#footer {
    padding: 50px 0 20px;
    background: black;
    position: relative;
}

.footer-row {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-left,
.footer-right {
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
}

.footer-right {
    text-align: right;
}

.footer-row h1 {
    margin: 10px 0;
}

.footer-row p {
    line-height: 35px;
    color: white;
}

.footer-left .far,
.footer-right .fas {
    font-size: 20px;
    color: rgb(218, 45, 74);
    margin: 10px;
}

.footer-img {
    max-width: 370px;
    opacity: 0.1;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
}

.social-links {
    text-align: center;
}

.social-links .fab {
    height: 40px;
    width: 40px;
    font-size: 20px;
    line-height: 40px;
    border: 1px solid rgb(218, 45, 74);
    margin: 40px 5px 0;
    color: rgb(218, 45, 74);
    cursor: pointer;
    transition: 0.5s;
}

.social-links .fab:hover {
    background: rgb(226, 62, 89);
    color: #fff;
    transform: translateY(-7px);
}

.social-links p {
    font-size: 14px;
    margin-top: 20px;
}

@media screen and (max-width:770px) {
    .footer-left,
    .footer-right {
        flex-basis: 100%;
        font-size: 14px;
    }
    .footer-img {
        top: 25%;
    }
}
.maindiv{
    width: 60%;
    height: 400px;
    margin-left: 700px;
    margin-top: 300px;
    transform: translate(-50%,-50%);
    background-image: url("img1.jpeg");
    background-size: 100% 100%;
    box-shadow: 1px 2px 10px 5px white;
    animation: slider 12s infinite linear;
}
@keyframes slider{
    0%{background-image: url("img1.jpeg");}
    25%{background-image: url("img2.jpeg");}
    50%{background-image: url("img3.jpeg");}
    75%{background-image: url("img4.jpeg");}
}
